<!DOCTYPE html>
<html>
  <head>
    <title>LinkedinQueryLoader</title>
    <%= csrf_meta_tags %>
    <meta name="scalable" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= redux_store('QueriesStore', props: @site_props) %>
    <%= yield %>
  </body>
</html>
